php_flag display_errors off
php_value upload_max_filesize 10485760
php_value post_max_size 10485760

RewriteEngine on
RewriteBase /c53api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]